In [1]:
from evaluation import Eval
import pandas as pd

In [2]:
e = Eval(relevant_docs_file = 'systems/qrels.txt')

In [3]:
df_dict = dict()
mean_df = pd.DataFrame(columns = ['P@10', 'R@50', 'r-Precision', 'AP', 'nDCG@10', 'nDCG@20'])
std_df = pd.DataFrame(columns = ['P@10', 'R@50', 'r-Precision', 'AP', 'nDCG@10', 'nDCG@20'])
for i in range(1, 7):
    e.current_system_results = e.read_system_results('systems/S' + str(i) + '.results')
    df = e.evaluate_all(total_num_of_queries=10, rounding=False)
    df_dict[i] = df.iloc[0:10]
    mean_df.loc[i] = df.loc['mean']
    std_df.loc[i] = df.std()

Loading system results: systems/S1.results...
Loading system results: systems/S2.results...
Loading system results: systems/S3.results...
Loading system results: systems/S4.results...
Loading system results: systems/S5.results...
Loading system results: systems/S6.results...

In [4]:
from scipy import stats

In [5]:
mean_df

   P@10      R@50  r-Precision        AP   nDCG@10   nDCG@20
1  0.39  0.833690     0.401071  0.400210  0.362945  0.485177
2  0.22  0.867024     0.252500  0.300352  0.199881  0.246248
3  0.41  0.767024     0.448452  0.451175  0.420348  0.510918
4  0.08  0.189405     0.049286  0.074565  0.068708  0.075546
5  0.41  0.767024     0.357619  0.363829  0.332456  0.424287
6  0.41  0.767024     0.448452  0.444577  0.400031  0.490532

In [6]:
mean_df[mean_df == mean_df.max()]

   P@10      R@50  r-Precision        AP   nDCG@10   nDCG@20
1   NaN       NaN          NaN       NaN       NaN       NaN
2   NaN  0.867024          NaN       NaN       NaN       NaN
3  0.41       NaN     0.448452  0.451175  0.420348  0.510918
4   NaN       NaN          NaN       NaN       NaN       NaN
5  0.41       NaN          NaN       NaN       NaN       NaN
6  0.41       NaN     0.448452       NaN       NaN       NaN

In [7]:
mean_df[mean_df == mean_df[mean_df != mean_df.max()].max()]

   P@10     R@50  r-Precision        AP   nDCG@10   nDCG@20
1  0.39  0.83369     0.401071       NaN       NaN       NaN
2   NaN      NaN          NaN       NaN       NaN       NaN
3   NaN      NaN          NaN       NaN       NaN       NaN
4   NaN      NaN          NaN       NaN       NaN       NaN
5   NaN      NaN          NaN       NaN       NaN       NaN
6   NaN      NaN          NaN  0.444577  0.400031  0.490532

The systems (best average scores) are [(3,5,6), 2, (3, 6), 3, 3, 3]
The systems (best average scores) are [1, 1, 1, 6, 6, 6]

In [8]:
std_df

       P@10      R@50  r-Precision        AP   nDCG@10   nDCG@20
1  0.287924  0.183790     0.304559  0.280822  0.223280  0.192714
2  0.203961  0.180677     0.348848  0.297643  0.264363  0.254662
3  0.308058  0.309917     0.341108  0.332063  0.299878  0.270038
4  0.097980  0.099952     0.068925  0.065255  0.086202  0.076781
5  0.308058  0.309917     0.324867  0.284172  0.254433  0.237173
6  0.308058  0.309917     0.341108  0.326281  0.271596  0.244598

In [9]:
stats.ttest_ind(df_dict[3]['P@10'], df_dict[1]['P@10'])

Ttest_indResult(statistic=0.1422936016353744, pvalue=0.8884287243093304)

In [10]:
stats.ttest_ind(df_dict[5]['P@10'], df_dict[1]['P@10'])

Ttest_indResult(statistic=0.1422936016353744, pvalue=0.8884287243093304)

In [11]:
stats.ttest_ind(df_dict[6]['P@10'], df_dict[1]['P@10'])

Ttest_indResult(statistic=0.1422936016353744, pvalue=0.8884287243093304)

--------------

In [12]:
stats.ttest_ind(df_dict[2]['R@50'], df_dict[1]['R@50'])

Ttest_indResult(statistic=0.3880082704800308, pvalue=0.7025603945402291)

--------------

In [13]:
stats.ttest_ind(df_dict[3]['r-Precision'], df_dict[1]['r-Precision'])

Ttest_indResult(statistic=0.31083959807728023, pvalue=0.7594933627635715)

In [14]:
stats.ttest_ind(df_dict[6]['r-Precision'], df_dict[1]['r-Precision'])

Ttest_indResult(statistic=0.31083959807728023, pvalue=0.7594933627635715)

--------------

In [15]:
stats.ttest_ind(df_dict[3]['AP'], df_dict[6]['AP'])

Ttest_indResult(statistic=0.042513564801249584, pvalue=0.9665573458870693)

------

In [16]:
stats.ttest_ind(df_dict[3]['nDCG@10'], df_dict[6]['nDCG@10'])

Ttest_indResult(statistic=0.15065127811699439, pvalue=0.8819262156757446)

---------

In [17]:
stats.ttest_ind(df_dict[3]['nDCG@20'], df_dict[6]['nDCG@20'])

Ttest_indResult(statistic=0.16786186996140187, pvalue=0.8685635746981927)